<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
          <dt>Rating</dt>
          <dd>
          <%= 
            rating = @product.reviews.average(:rating) || "Not yet rated"
            if rating.is_a? Numeric
              (rating * 100).floor / 100.0 
            else
              rating
            end
          %>
          </dd>
        </dl>
      </div>
    </div>
    <header class="page-header">
      <h1>Reviews</h1>
    </header>
    <% if current_user != nil %>
      <div class="row review-form">
        <%= form_for [@product, @product.reviews.new] do |f| %>
          <%= f.label :description %>
          <%= f.text_area :description,
            :class => 'review-form--description'
          %>
          <div class="review-footer">
            <div>
              <%= f.label :rating %>
              <%= f.select :rating, [1,2,3,4,5], 
                :selected => 3,
                :class => 'review-form--selection'
              %>
            </div>
            <%= f.submit "Submit", :class => 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr>
    <div class="row">
      <% 
      @product.reviews.order(created_at: :desc).each do |review|
        if !review.persisted? 
          break
        end
      %>
        <dl class="review-card row">
          <dt class="h4"><%= review.user.first_name + " " + review.user.last_name %></dt>
          <hr>
          <dd class="h5">Rating: <%= review.rating %>/5</dd>
          <dd><%= review.description %></dd>
          <hr>
          <footer class="review-footer">
            <span><%= review.created_at.strftime("%b %e %Y") %></span>
            <% if current_user == review.user %>
              <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </footer>
        </dl>
      <% end %>
    </div>

  </article>

</section>
